In [2]:
from pyforest import*

In [3]:
df=pd.read_csv(r"C:\Users\Madhu Babu\Documents\Car\quikr_car.csv")

In [4]:
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [5]:
df.shape

(892, 6)

In [6]:
df.columns

Index(['name', 'company', 'year', 'Price', 'kms_driven', 'fuel_type'], dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [8]:
df.nunique()

name          525
company        48
year           61
Price         274
kms_driven    258
fuel_type       3
dtype: int64

In [9]:
for col in df.columns:
    print(df[col].unique())
    print("-------------------")

['Hyundai Santro Xing XO eRLX Euro III' 'Mahindra Jeep CL550 MDI'
 'Maruti Suzuki Alto 800 Vxi' 'Hyundai Grand i10 Magna 1.2 Kappa VTVT'
 'Ford EcoSport Titanium 1.5L TDCi' 'Ford Figo' 'Hyundai Eon'
 'Ford EcoSport Ambiente 1.5L TDCi' 'Maruti Suzuki Alto K10 VXi AMT'
 'Skoda Fabia Classic 1.2 MPI' 'Maruti Suzuki Stingray VXi'
 'Hyundai Elite i20 Magna 1.2' 'Mahindra Scorpio SLE BS IV' 'Audi A8'
 'Audi Q7' 'Mahindra Scorpio S10' 'Maruti Suzuki Alto 800'
 'Hyundai i20 Sportz 1.2' 'Maruti Suzuki Alto 800 Lx'
 'Maruti Suzuki Vitara Brezza ZDi' 'Maruti Suzuki Alto LX'
 'Mahindra Bolero DI' 'Maruti Suzuki Swift Dzire ZDi'
 'Mahindra Scorpio S10 4WD' 'Maruti Suzuki Swift Vdi BSIII'
 'Maruti Suzuki Wagon R VXi BS III' 'Maruti Suzuki Wagon R VXi Minor'
 'Toyota Innova 2.0 G 8 STR BS IV' 'Renault Lodgy 85 PS RXL'
 'Skoda Yeti Ambition 2.0 TDI CR 4x2' 'Maruti Suzuki Baleno Delta 1.2'
 'Renault Duster 110 PS RxZ Diesel Plus' 'Renault Duster 85 PS RxE Diesel'
 'Honda City 1.5 S MT' 'Maruti Suzuki Dzire' 'Honda Amaze'
 'Honda Amaze 1.5 SX i DTEC' 'Honda City' 'Datsun Redi GO S'
 'Maruti Suzuki SX4 ZXI MT' 'Mitsubishi Pajero Sport Limited Edition'
 'Maruti Suzuki Swift VXi 1.2 ABS BS IV' 'Honda City ZX CVT'
 'Maruti Suzuki Wagon R LX BS IV' 'Tata Indigo eCS LS CR4 BS IV'
 'Volkswagen Polo Highline Exquisite P' 'I want to sell my car Tata Zest'
 'Chevrolet Spark LS 1.0' 'Renault Duster 110PS Diesel RxZ'
 'Mini Cooper S 1.6' 'Skoda Fabia 1.2L Diesel Ambiente' 'Renault Duster'
 'Mahindra Scorpio S4' 'Mahindra Scorpio VLX 2WD BS IV'
 'Mahindra Quanto C8' 'Ford EcoSport' 'Honda Brio'
 'Volkswagen Vento Highline Plus 1.5 Diesel AT' 'Hyundai i20 Magna'
 'Toyota Corolla Altis Diesel D4DG' 'Hyundai Verna Transform SX VTVT'
 'Toyota Corolla Altis Petrol Ltd' 'Honda City 1.5 EXi New'
 'Skoda Fabia 1.2L Diesel Elegance' 'BMW 3 Series 320i'
 'Maruti Suzuki A Star Lxi' 'Toyota Etios GD'
 'Ford Figo Diesel EXI Option' 'Maruti Suzuki Swift Dzire VXi 1.2 BS IV'
 'Chevrolet Beat LT Diesel' 'BMW 7 Series 740Li Sedan'
 'Mahindra XUV500 W8 AWD 2013' 'Hyundai i10 Magna 1.2'
 'Hyundai Verna Fluidic New' 'Maruti Suzuki Swift VXi 1.2 BS IV'
 'Maruti Suzuki Ertiga ZXI Plus' 'Maruti Suzuki Ertiga Vxi'
 'Maruti Suzuki Ertiga VDi' 'Maruti Suzuki Alto LXi BS III'
 'Hyundai Grand i10 Asta 1.1 CRDi' 'Honda Amaze 1.2 S i VTEC'
 'Hyundai i20 Asta 1.4 CRDI 6 Speed' 'Ford Figo Diesel EXI'
 'Maruti Suzuki Eeco 5 STR WITH AC HTR' 'Maruti Suzuki Ertiga ZXi'
 'Maruti Suzuki Esteem LXi BS III' 'Maruti Suzuki Ritz VXI'
 'Maruti Suzuki Ritz LDi' 'Maruti Suzuki Dzire VDI' 'Toyota Etios Liva G'
 'Hyundai i20 Sportz 1.4 CRDI' 'Chevrolet Spark' 'Nissan Micra XV'
 'Maruti Suzuki Swift' 'Honda Amaze 1.5 S i DTEC' 'Chevrolet Beat'
 'Toyota Corolla' 'Honda City 1.5 V MT' 'Ford EcoSport Trend 1.5L TDCi'
 'Hyundai i20 Asta 1.2' 'Tata Indica V2 eLS' 'Maruti Suzuki Alto 800 Lxi'
 'Hindustan Motors Ambassador' 'Toyota Corolla Altis 1.8 GL'
 'Toyota Corolla Altis 1.8 J' 'Toyota Innova 2.5 GX BS IV 7 STR'
 'Volkswagen Jetta Highline TDI AT' 'Volkswagen Polo Comfortline 1.2L P'
 'Volkswagen Polo' 'Mahindra Scorpio' 'Nissan Sunny' 'Hyundai Elite i20'
 'Renault Kwid' 'Mahindra Scorpio VLX Airbag' 'Chevrolet Spark LT 1.0'
 'Datsun Redi GO T O' 'Maruti Suzuki Swift RS VDI'
 'Fiat Punto Emotion 1.2' 'Hyundai i10 Sportz 1.2'
 'Chevrolet Beat LT Opt Diesel' 'Chevrolet Beat LS Diesel'
 'Tata Indigo CS' 'Maruti Suzuki Swift VDi' 'Hyundai Eon Era Plus'
 'Mahindra XUV500' 'Ford Fiesta' 'Maruti Suzuki Wagon R' 'Hyundai i20'
 'Tata Indigo eCS LX TDI BS III' 'Hyundai Fluidic Verna 1.6 CRDi SX'
 'Commercial , DZire LDI, 2016, for sale' 'Fiat Petra ELX 1.2 PS'
 'Hyundai Santro Xing XS' 'Maruti Suzuki Ciaz VXi Plus'
 'Maruti Suzuki Zen VX' 'Hyundai Creta 1.6 SX Plus Petrol'
 'Tata indigo ecs LX, 201' 'Mahindra Scorpio SLX'
 'Toyota Innova 2.5 G BS III 8 STR' 'Maruti Suzuki Wagon R LXI BS IV'
 'Tata Nano Cx BSIV' 'Maruti Suzuki Alto Std BS IV'
 'Maruti Suzuki Wagon R LXi BS III' 'Maruti Suzuki Swift VXI BSIII'
 'Tata Sumo Victa EX 10 by 7 Str BSIII' 'MARUTI SUZUKI DESI'
 'Volkswagen Passat Diesel Comfortline AT'
 'Renault Scala RxL Diesel Travelogue'
 'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT' 'Hyundai i20 Active 1.2 SX'
 'Mahindra Xylo E4' 'Mahindra Jeep MM 550 XDB' 'Mahindra Bolero SLE BS IV'
 'Force Motors Force One LX ABS 7 STR' 'Maruti Suzuki SX4' 'Toyota Etios'
 'Honda City ZX VTEC' 'Maruti Suzuki Wagon R LX BS III'
 'Honda City VX O MT Diesel' 'Mahindra Thar CRDe 4x4 AC'
 'Audi A4 1.8 TFSI Multitronic Premium Plus'
 'Mercedes Benz GLA Class 200 CDI Sport' 'Land Rover Freelander 2 SE'
 'Renault Kwid RXT' 'Tata Aria Pleasure 4X2'
 'Mercedes Benz B Class B180 Sports' 'Datsun GO T O' 'Honda Jazz VX MT'
 'Hyundai i20 Active 1.4L SX O' 'Mini Cooper S'
 'Maruti Suzuki Ciaz ZXI Plus' 'Chevrolet Tavera Neo' 'Hyundai Eon Sportz'
 'Tata Sumo Gold Select Variant' 'Maruti Suzuki Wagon R 1.0'
 'Maruti Suzuki Esteem VXi BS III' 'Chevrolet Enjoy 1.4 LS 8 STR'
 'Maruti Suzuki Wagon R 1.0 VXi' 'Nissan Terrano XL D Plus'
 'Renault Duster 85 PS RxL Diesel' 'Maruti Suzuki Dzire ZXI'
 'Renault Kwid RXT Opt' 'Maruti Suzuki Maruti 800 Std'
 'Renault Kwid 1.0 RXT AMT' 'Renault Scala RxL Diesel'
 'Hyundai Grand i10 Asta 1.2 Kappa VTVT O' 'Chevrolet Beat LS Petrol'
 'Hyundai Accent GLX' 'Yama' 'Maruti Suzuki Swift LDi'
 'Mahindra TUV300 T4 Plus' 'Tata Indica V2 Xeta e GLE'
 'Tata Indigo CS LS DiCOR' 'Mahindra Scorpio VLX Special Edition BS III'
 'Tata Indica eV2 LS' 'Honda Accord' 'Ford EcoSport Titanium 1.5 TDCi'
 'Maruti Suzuki Ertiga' 'Mahindra Scorpio 2.6 CRDe' 'Honda Mobilio'
 'Toyota Corolla Altis' 'Skoda Laura' 'Hyundai Verna Fluidic'
 'Maruti Suzuki Vitara Brezza' 'Tata Manza Aura Quadrajet'
 'Chevrolet Sail UVA Petrol LT ABS' 'Hyundai Verna Fluidic 1.6 VTVT SX'
 'Audi A4 2.0 TDI 177bhp Premium' 'Hyundai Elantra SX'
 'Mahindra Scorpio VLX 4WD Airbag' 'Mahindra KUV100 K8 D 6 STR'
 'Hyundai Grand i10' 'Hyundai i10' 'Hyundai i20 Active' 'Datsun Redi GO'
 'Toyota Etios Liva' 'Hyundai Accent' 'Hyundai Verna' 'Toyota Fortuner'
 'Hyundai i10 Sportz' 'Mahindra Bolero Power Plus SLE' 'selling car Ta'
 'Honda City 1.5 V MT Exclusive' 'Chevrolet Spark LT 1.0 Airbag'
 'Tata Indigo eCS VX CR4 BS IV' 'Tata Zest 90'
 'Skoda Rapid Elegance 1.6 TDI CR MT' 'Tata Vista Quadrajet VX'
 'Maruti Suzuki Alto K10 VXi AT' 'Maruti Suzuki Zen LXi BS III'
 'Maruti Suzuki Swift Dzire Tour LDi' 'Honda City ZX EXi'
 'Chevrolet Beat Diesel' 'Maruti Suzuki Swift Dzire car'
 'Hyundai Verna 1.4 VTVT' 'Toyota Innova 2.5 E MS 7 STR BS IV'
 'Maruti Suzuki Maruti 800 Std â€“ Befo' 'Hyundai Elite i20 Asta 1.4 CRDI'
 'Maruti Suzuki Swift Dzire Tour (Gat'
 'Maruti Suzuki Versa DX2 8 SEATER BSIII' 'Tata Indigo LX TDI BS III'
 'Volkswagen Vento Konekt Diesel Highline'
 'Mercedes Benz C Class 200 CDI Classic' 'URJE' 'Hyundai Santro Xing GLS'
 'Maruti Suzuki Omni Limited Edition'
 'Hyundai Sonata Transform 2.4 GDi MT' 'Hyundai Elite i20 Sportz 1.2'
 'Honda Jazz S MT' 'Hyundai Grand i10 Sportz 1.2 Kappa VTVT'
 'Maruti Suzuki Zen LXi BSII' 'Mahindra Scorpio W Turbo 2.6DX 9 Seater'
 'Swift Dzire Tour 27 Dec 2016 Regis' 'Maruti Suzuki Alto K10 VXi'
 'Hyundai Grand i10 Asta 1.2 Kappa VTVT' 'Mahindra XUV500 W8'
 'Hyundai i20 Magna O 1.2' 'Renault Duster 85 PS RxL Explore LE'
 'Honda Brio V MT' 'Mahindra TUV300 T8' 'Nissan X Trail Select Variant'
 'Ford Ikon 1.3 CLXi NXt Finesse' 'Toyota Fortuner 3.0 4x4 MT'
 'Tata Manza ELAN Quadrajet' 'Tata zest x' 'Mahindra xyl'
 'Mercedes Benz A Class A 180 Sport Petrol' 'Tata Indigo LS'
 'Hyundai i20 Magna 1.2' 'Used Commercial Maruti Omn'
 'Honda Amaze 1.5 E i DTEC' 'Hyundai Verna 1.6 EX VTVT'
 'BMW 5 Series 520d Sedan' 'Skoda Superb 1.8 TFSI AT'
 'Audi Q3 2.0 TDI quattro Premium' 'Mahindra Bolero DI BSII'
 'Maruti Suzuki Zen Estilo LXI Green CNG'
 'Ford Figo Duratorq Diesel Titanium 1.4'
 'Maruti Suzuki Wagon R VXI BS IV' 'Mahindra Logan Diesel 1.5 DLS'
 'Tata Nano GenX XMA' 'Honda City SV' 'Ford Figo Petrol LXI'
 'Hyundai i10 Magna 1.2 Kappa2' 'Toyota Corolla H2'
 'Maruti Suzuki Swift Dzire Tour VXi' 'Tata Indigo CS eLS BS IV'
 'Hyundai Xcent Base 1.1 CRDi' 'Hyundai Accent Executive Edition'
 'Tata Zest XE 75 PS Diesel' 'Maruti Suzuki Dzire LDI'
 'Tata Sumo Gold LX BS IV' 'Toyota Corolla Altis GL Petrol'
 'Maruti Suzuki Eeco 7 STR' 'Toyota Fortuner 3.0 4x2 MT'
 'Mahindra XUV500 W6' 'Tata Tigor Revotron XZ' 'Maruti Suzuki 800'
 'Honda Mobilio S i DTEC' 'Hyundai Verna 1.6 CRDI E'
 'Maruti Suzuki Omni Select Variant' 'Tata Indica' 'Hyundai Santro Xing'
 'Maruti Suzuki Zen Estilo' 'Honda Brio VX AT'
 'Maruti Suzuki Wagon R Select Variant' 'Tata Nano Lx BSIV'
 'Jaguar XE XE Portfolio' 'Hyundai Xcent S 1.2' 'Hyundai Eon Magna Plus'
 'Maruti Suzuki Ritz GENUS VXI'
 'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT' 'Hyundai Eon D Lite Plus'
 'Honda Amaze 1.2 VX i VTEC' 'Maruti Suzuki Estilo VXi ABS BS IV'
 'Maruti Suzuki Vitara Brezza LDi O' 'Toyota Innova 2.0 V'
 'Hyundai Creta 1.6 SX Plus Petrol AT' 'Mahindra Scorpio Vlx BSIV'
 'Mitsubishi Lancer 1.8 LXi' 'Maruti Suzuki Maruti 800 AC'
 'Maruti Suzuki Alto 800 LXI CNG O' 'Ford Fiesta SXi 1.6 ABS'
 'Maruti Suzuki Ritz VDi' 'Maruti Suzuki Estilo LX BS IV'
 'Audi A6 2.0 TDI Premium' 'Maruti Suzuki Alto'
 'Maruti Suzuki Baleno Sigma 1.2' 'Hyundai Verna 1.6 SX VTVT AT'
 'Maruti Suzuki Swift GLAM' 'Hyundai Getz Prime 1.3 GVS' 'Hyundai Santro'
 'Hyundai Getz Prime 1.3 GLX' 'Chevrolet Beat PS Diesel'
 'Ford EcoSport Trend 1.5 Ti VCT' 'Tata Indica V2 DLG'
 'BMW X1 xDrive20d xLine' 'Honda City 1.5 V AT' 'Tata Nano'
 'Chevrolet Cruze LTZ AT' 'Hyun' 'Maruti Suzuki Swift Dzire VDi'
 'Mahindra XUV500 W10' 'Maruti Suzuki Alto K10 LXi CNG'
 'Hyundai Accent GLE' 'Force Motors One SUV' 'Datsun Go Plus T O'
 'Chevrolet Spark 1.0 LT' 'Toyota Etios Liva GD'
 'Renault Duster 85PS Diesel RxL Optional with Nav' 'Chevrolet Enjoy'
 'BMW 5 Series 530i' 'Chevrolet Cruze LTZ'
 'Jeep Wrangler Unlimited 4x4 Diesel' 'Hyundai Verna VGT CRDi SX ABS'
 'Maruti Suzuki Omni' 'Maruti Suzuki Celerio VDi'
 'Tata Zest Quadrajet 1.3' 'Tata Indigo CS eLX BS IV' 'Hyundai i10 Era'
 'Tata Indigo eCS LX CR4 BS IV' 'Tata Indigo Marina LS'
 'Commercial Chevrolet Sail Hatchback ca' 'Hyundai Xcent SX 1.2'
 'Tata Nano LX Special Edition' 'Commercial Car Ta'
 'Renault Duster 110 PS RxZ Diesel' 'Maruti Suzuki Wagon R AX BSIV'
 'Maruti Suzuki Alto K10 New' 'tata Indica' 'Mahindra Xylo E8'
 'Tata Manza Aqua Quadrajet' 'Used bt new conditions ta'
 'Renault Kwid 1.0' 'Sale tata' 'Tata Venture EX 8 STR'
 'Maruti Suzuki Swift Dzire Tour LXi' 'Maruti Suzuki Alto LX BSII'
 'Skoda Octavia Classic 1.9 TDI MT' 'Maruti Suzuki Omni LPG BS IV'
 'Tata Sumo Gold EX BS IV' 'Tata indigo 2017 top model..'
 'Hyundai Verna 1.6 CRDI SX' 'Mahindra Scorpio SLX 2.6 Turbo 8 Str'
 'Ford Ikon 1.6 Nxt' 'Tata indigo' 'Toyota Innova 2.5 V 7 STR'
 'Nissan Sunny XL' 'Maruti Suzuki Swift VDi BS IV'
 'very good condition tata bolts are av' 'Toyota Innova 2.0 G4'
 'Sale Hyundai xcent commerc' 'Maruti Suzuki Swift VDi ABS'
 'Hyundai Elite i20 Asta 1.2' 'Volkswagen Polo Trendline 1.5L D'
 'Toyota Etios Liva Diesel' 'Maruti Suzuki Ciaz ZXi Plus RS'
 'Hyundai Elantra 1.8 S' 'Ford EcoSport Trend 1.5L Ti VCT'
 'Jaguar XF 2.2 Diesel Luxury' 'Audi Q5 2.0 TDI quattro Premium Plus'
 'BMW 3 Series 320d Sedan' 'Maruti Suzuki Swift ZXi 1.2 BS IV'
 'BMW X1 sDrive20d' 'Maruti Suzuki S Cross Sigma 1.3'
 'Maruti Suzuki Ertiga LDi' 'Volkswagen Vento Comfortline Petrol'
 'Mahindra KUV100' 'Maruti Suzuki Swift Dzire Tour VDi'
 'Mahindra Scorpio 2.6 SLX' 'Maruti Suzuki Omni 8 STR BS III'
 'Volkswagen Jetta Comfortline 1.9 TDI AT' 'Volvo S80 Summum D4'
 'Toyota Corolla Altis VL AT Petrol' 'Mitsubishi Pajero Sport 2.5 AT'
 'Chevrolet Beat LT Petrol' 'BMW X1'
 'Mercedes Benz C Class C 220 CDI Avantgarde'
 'Volkswagen Vento Comfortline Diesel' 'Tata Indigo CS GLS'
 'Ford Figo Petrol Titanium' 'Honda City ZX GXi'
 'Maruti Suzuki Wagon R Duo Lxi' 'Maruti Suzuki Zen LX BSII'
 'Renault Duster RxL Petrol' 'Maruti Suzuki Baleno Zeta 1.2'
 'Honda WR V S MT Petrol' 'Renault Duster 110 PS RxL Diesel'
 'Mahindra Scorpio LX BS III' 'Maruti Suzuki SX4 Celebration Diesel'
 'Audi A3 Cabriolet 40 TFSI' 'I want to sell my commercial car due t'
 'Hyundai Santro AE GLS Audio' 'i want sale my car.no emi....uber atta'
 'Tata ZEST 6 month old' 'Mahindra Xylo D2 BS IV' 'Hyundai Getz GLE'
 'Hyundai Creta 1.6 SX' 'Hyundai Santro Xing XL AT eRLX Euro III'
 'Hyundai Santro Xing XL eRLX Euro III' 'Tata Indica V2 DLS BS III'
 'Honda City 1.5 E MT' 'Nissan Micra XL' 'Honda City 1.5 S Inspire'
 'Tata Indica eV2 eXeta eGLX' 'Maruti Suzuki Omni E 8 STR BS IV'
 'MARUTI SUZUKI ERTIGA F' 'Hyundai Verna 1.6 CRDI SX Plus AT'
 'Chevrolet Tavera LS B3 10 Seats BSII' 'Tata Tiago Revotron XM'
 'Tata Tiago Revotorq XZ' 'Tata Nexon' 'Tata'
 'Hindustan Motors Ambassador Classic Mark 4 â€“ Befo'
 'Ford Fusion 1.4 TDCi Diesel' 'Fiat Linea Emotion 1.4 L T Jet Petrol'
 'Ford Ikon 1.3 Flair Josh 100' 'Tata Indica V2 LS' 'Mahindra Xylo D2'
 'Hyundai Eon Magna' 'Tata Sumo Grande MKII GX'
 'Volkswagen Polo Highline1.2L P' 'Tata Tiago Revotron XZ'
 'Tata Indigo eCS' '2012 Tata Sumo Gold f' 'Mahindra Xylo E8 BS IV'
 'Well mentained Tata Sumo' 'all paper updated tata indica v2 and u'
 'Maruti Ertiga showroom condition with'
 '7 SEATER MAHINDRA BOLERO IN VERY GOOD' '9 SEATER MAHINDRA BOL'
 'scratch less Tata I' 'Maruti Suzuki swift dzire for sale in'
 'Commercial Chevrolet beat for sale in' 'urgent sell my Mahindra qu'
 'Tata Sumo Gold FX BSIII' 'sell my car Maruti Suzuki Swif'
 'Maruti Suzuki Swift Dzire good car fo' 'Hyunda'
 'Commercial Maruti Suzuki Alto Lxi 800' 'urgent sale Ta'
 'Maruti Suzuki Alto vxi t' 'tata' 'TATA INDI' 'Hyundai Creta'
 'Tata Bolt XM Petrol' 'Hyundai Venue' 'Maruti Suzuki Ritz'
 'Renault Lodgy' 'Hyundai i20 Asta' 'Maruti Suzuki Swift Select Variant'
 'Tata Indica V2 DLX BS III' 'Mahindra Scorpio VLX 2.2 mHawk Airbag BSIV'
 'Toyota Innova 2.5 E 8 STR' 'Mahindra KUV100 K8 6 STR' 'Datsun Go Plus'
 'Ford Endeavor 4x4 Thunder Plus' 'Tata Indica V2'
 'Hyundai Santro Xing GL' 'Toyota Innova 2.5 Z Diesel 7 Seater'
 'Any type car avaiabel hare...comercica' 'Maruti Suzuki Alto AX'
 'Mahindra Logan' 'Maruti Suzuki 800 Std BS III' 'Chevrolet Sail 1.2 LS'
 'Volkswagen Vento Highline Plus 1.5 Diesel' 'Tata Manza'
 'Toyota Innova 2.0 G1 Petrol 8seater' 'Toyota Etios G' 'Toyota Qualis'
 'Mahindra Quanto C4' 'Maruti Suzuki Swift Dzire'
 'Hyundai i20 Select Variant' 'Honda City VX Petrol' 'Hyundai Getz'
 'Mercedes Benz C Class 200 K MT' 'Skoda Fabia'
 'Maruti Suzuki Alto 800 Select Variant' 'Maruti Suzuki Ritz VXI ABS'
 'tata zest 2017 f' 'Tata Indica V2 DLE BS III' 'Ta' 'Tata Zest XM Diesel'
 'Honda Amaze 1.2 E i VTEC' 'Chevrolet Sail 1.2 LT ABS']
-------------------
['Hyundai' 'Mahindra' 'Maruti' 'Ford' 'Skoda' 'Audi' 'Toyota' 'Renault'
 'Honda' 'Datsun' 'Mitsubishi' 'Tata' 'Volkswagen' 'I' 'Chevrolet' 'Mini'
 'BMW' 'Nissan' 'Hindustan' 'Fiat' 'Commercial' 'MARUTI' 'Force'
 'Mercedes' 'Land' 'Yamaha' 'selling' 'URJENT' 'Swift' 'Used' 'Jaguar'
 'Jeep' 'tata' 'Sale' 'very' 'Volvo' 'i' '2012' 'Well' 'all' '7' '9'
 'scratch' 'urgent' 'sell' 'TATA' 'Any' 'Tara']
-------------------
['2007' '2006' '2018' '2014' '2015' '2012' '2013' '2016' '2010' '2017'
 '2008' '2011' '2019' '2009' '2005' '2000' '...' '150k' 'TOUR' '2003'
 'r 15' '2004' 'Zest' '/-Rs' 'sale' '1995' 'ara)' '2002' 'SELL' '2001'
 'tion' 'odel' '2 bs' 'arry' 'Eon' 'o...' 'ture' 'emi' 'car' 'able' 'no.'
 'd...' 'SALE' 'digo' 'sell' 'd Ex' 'n...' 'e...' 'D...' ', Ac' 'go .'
 'k...' 'o c4' 'zire' 'cent' 'Sumo' 'cab' 't xe' 'EV2' 'r...' 'zest']
-------------------
['80,000' '4,25,000' 'Ask For Price' '3,25,000' '5,75,000' '1,75,000'
 '1,90,000' '8,30,000' '2,50,000' '1,82,000' '3,15,000' '4,15,000'
 '3,20,000' '10,00,000' '5,00,000' '3,50,000' '1,60,000' '3,10,000'
 '75,000' '1,00,000' '2,90,000' '95,000' '1,80,000' '3,85,000' '1,05,000'
 '6,50,000' '6,89,999' '4,48,000' '5,49,000' '5,01,000' '4,89,999'
 '2,80,000' '3,49,999' '2,84,999' '3,45,000' '4,99,999' '2,35,000'
 '2,49,999' '14,75,000' '3,95,000' '2,20,000' '1,70,000' '85,000'
 '2,00,000' '5,70,000' '1,10,000' '4,48,999' '18,91,111' '1,59,500'
 '3,44,999' '4,49,999' '8,65,000' '6,99,000' '3,75,000' '2,24,999'
 '12,00,000' '1,95,000' '3,51,000' '2,40,000' '90,000' '1,55,000'
 '6,00,000' '1,89,500' '2,10,000' '3,90,000' '1,35,000' '16,00,000'
 '7,01,000' '2,65,000' '5,25,000' '3,72,000' '6,35,000' '5,50,000'
 '4,85,000' '3,29,500' '2,51,111' '5,69,999' '69,999' '2,99,999'
 '3,99,999' '4,50,000' '2,70,000' '1,58,400' '1,79,000' '1,25,000'
 '2,99,000' '1,50,000' '2,75,000' '2,85,000' '3,40,000' '70,000'
 '2,89,999' '8,49,999' '7,49,999' '2,74,999' '9,84,999' '5,99,999'
 '2,44,999' '4,74,999' '2,45,000' '1,69,500' '3,70,000' '1,68,000'
 '1,45,000' '98,500' '2,09,000' '1,85,000' '9,00,000' '6,99,999'
 '1,99,999' '5,44,999' '1,99,000' '5,40,000' '49,000' '7,00,000' '55,000'
 '8,95,000' '3,55,000' '5,65,000' '3,65,000' '40,000' '4,00,000'
 '3,30,000' '5,80,000' '3,79,000' '2,19,000' '5,19,000' '7,30,000'
 '20,00,000' '21,00,000' '14,00,000' '3,11,000' '8,55,000' '5,35,000'
 '1,78,000' '3,00,000' '2,55,000' '5,49,999' '3,80,000' '57,000'
 '4,10,000' '2,25,000' '1,20,000' '59,000' '5,99,000' '6,75,000' '72,500'
 '6,10,000' '2,30,000' '5,20,000' '5,24,999' '4,24,999' '6,44,999'
 '5,84,999' '7,99,999' '4,44,999' '6,49,999' '9,44,999' '5,74,999'
 '3,74,999' '1,30,000' '4,01,000' '13,50,000' '1,74,999' '2,39,999'
 '99,999' '3,24,999' '10,74,999' '11,30,000' '1,49,000' '7,70,000'
 '30,000' '3,35,000' '3,99,000' '65,000' '1,69,999' '1,65,000' '5,60,000'
 '9,50,000' '7,15,000' '45,000' '9,40,000' '1,55,555' '15,00,000'
 '4,95,000' '8,00,000' '12,99,000' '5,30,000' '14,99,000' '32,000'
 '4,05,000' '7,60,000' '7,50,000' '4,19,000' '1,40,000' '15,40,000'
 '1,23,000' '4,98,000' '4,80,000' '4,88,000' '15,25,000' '5,48,900'
 '7,25,000' '99,000' '52,000' '28,00,000' '4,99,000' '3,81,000' '2,78,000'
 '6,90,000' '2,60,000' '90,001' '1,15,000' '15,99,000' '1,59,000' '51,999'
 '2,15,000' '35,000' '11,50,000' '2,69,000' '60,000' '4,30,000'
 '85,00,003' '4,01,919' '4,90,000' '4,24,000' '2,05,000' '5,49,900'
 '3,71,500' '4,35,000' '1,89,700' '3,89,700' '3,60,000' '2,95,000'
 '1,14,990' '10,65,000' '4,70,000' '48,000' '1,88,000' '4,65,000'
 '1,79,999' '21,90,000' '23,90,000' '10,75,000' '4,75,000' '10,25,000'
 '6,15,000' '19,00,000' '14,90,000' '15,10,000' '18,50,000' '7,90,000'
 '17,25,000' '12,25,000' '68,000' '9,70,000' '31,00,000' '8,99,000'
 '88,000' '53,000' '5,68,500' '71,000' '5,90,000' '7,95,000' '42,000'
 '1,89,000' '1,62,000' '35,999' '29,00,000' '39,999' '50,500' '5,10,000'
 '8,60,000' '5,00,001']
-------------------
['45,000 kms' '40 kms' '22,000 kms' '28,000 kms' '36,000 kms' '59,000 kms'
 '41,000 kms' '25,000 kms' '24,530 kms' '60,000 kms' '30,000 kms'
 '32,000 kms' '48,660 kms' '4,000 kms' '16,934 kms' '43,000 kms'
 '35,550 kms' '39,522 kms' '39,000 kms' '55,000 kms' '72,000 kms'
 '15,975 kms' '70,000 kms' '23,452 kms' '35,522 kms' '48,508 kms'
 '15,487 kms' '82,000 kms' '20,000 kms' '68,000 kms' '38,000 kms'
 '27,000 kms' '33,000 kms' '46,000 kms' '16,000 kms' '47,000 kms'
 '35,000 kms' '30,874 kms' '15,000 kms' '29,685 kms' '1,30,000 kms'
 '19,000 kms' nan '54,000 kms' '13,000 kms' '38,200 kms' '50,000 kms'
 '13,500 kms' '3,600 kms' '45,863 kms' '60,500 kms' '12,500 kms'
 '18,000 kms' '13,349 kms' '29,000 kms' '44,000 kms' '42,000 kms'
 '14,000 kms' '49,000 kms' '36,200 kms' '51,000 kms' '1,04,000 kms'
 '33,333 kms' '33,600 kms' '5,600 kms' '7,500 kms' '26,000 kms'
 '24,330 kms' '65,480 kms' '28,028 kms' '2,00,000 kms' '99,000 kms'
 '2,800 kms' '21,000 kms' '11,000 kms' '66,000 kms' '3,000 kms'
 '7,000 kms' '38,500 kms' '37,200 kms' '43,200 kms' '24,800 kms'
 '45,872 kms' '40,000 kms' '11,400 kms' '97,200 kms' '52,000 kms'
 '31,000 kms' '1,75,430 kms' '37,000 kms' '65,000 kms' '3,350 kms'
 '75,000 kms' '62,000 kms' '73,000 kms' '2,200 kms' '54,870 kms'
 '34,580 kms' '97,000 kms' '60 kms' '80,200 kms' '3,200 kms' '0,000 kms'

# Observations

1.Need to clean Year column as there are some text fields
2.Need to Clean Company column as there are some numbers
3.Need to convert data column to int type
4.Ned to remove text in price column and remove comma
5.Need to remove Comma  and word KMS from kms_driven column
6.Remove nan from fuel
7.Need to work on name column

['Used','Sale','very','i','2012','Well','all','7','9','scratch','urgent','sell','Any','Tara']

In [8]:
backup=df.copy()

## Now Start Cleaning the Data

## Work on Year column

In [10]:
df=df[df['year'].str.isnumeric()]
df['year']=df['year'].astype(int)

C:\Users\Madhu Babu\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
df['year'].dtypes

dtype('int32')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

## Work on price column

In [13]:
df['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '4,35,000', '1,89,700', '3,89,700', '3,60,000',
       '2,95,000', '1,14,990', '10,65,000', '4,70,000', '48,000',
       '1,88,000', '4,65,000', '1,79,999', '21,90,000', '23,90,000',
       '10,75,000', '4,75,000', '10,25,000', '6,15,000', '19,00,000',
       '14,90,000', '15,10,000', '18,50,000', '7,90,000', '17,25,000',
       '12,25,000', '68,000', '9,70,000', '31,00,000', '8,99,000',
       '88,000', '53,000', '5,68,500', '71,000', '5,90,000', '7,95,000',
       '42,000', '1,89,000', '1,62,000', '35,999', '29,00,000', '39,999',
       '50,500', '5,10,000', '8,60,000', '5,00,001'], dtype=object)

In [14]:
df=df[df['Price']!="Ask For Price"]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    object
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(1), object(5)
memory usage: 41.6+ KB

In [16]:
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
6,Ford Figo,Ford,2012,"1,75,000","41,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

##### Now replace "," with empty string and convert to int

In [17]:
df['Price']=df['Price'].str.replace(',','').astype(int)

In [18]:
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,"45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,"28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,"36,000 kms",Diesel
6,Ford Figo,Ford,2012,175000,"41,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,300000,"1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,"27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,"40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,180000,Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,160000,Petrol,NaN

##### Work on kms_driven column

In [19]:
df['kms_driven']=df['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [20]:
df=df[df['kms_driven'].str.isnumeric()]

In [21]:
df['kms_driven']=df['kms_driven'].astype(int)

C:\Users\Madhu Babu\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
df['company'].unique()

array(['Hyundai', 'Mahindra', 'Ford', 'Maruti', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat', 'Force',
       'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo'], dtype=object)

##### Company column got cleaned

In [23]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

##### Checka and remove nan

In [24]:
df=df[~df['fuel_type'].isna()]

In [25]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', 'LPG'], dtype=object)

### Now work on Company name column

In [26]:
df['name']

0        Hyundai Santro Xing XO eRLX Euro III
1                     Mahindra Jeep CL550 MDI
3      Hyundai Grand i10 Magna 1.2 Kappa VTVT
4            Ford EcoSport Titanium 1.5L TDCi
6                                   Ford Figo
                        ...
883                Maruti Suzuki Ritz VXI ABS
885                 Tata Indica V2 DLE BS III
886                      Toyota Corolla Altis
888                       Tata Zest XM Diesel
889                        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

#### Take first 3 words and combine them as single name

In [27]:
df['name']=df['name'].str.split( ).str.slice(0,3).str.join(' ')

In [28]:
df.reset_index(drop=True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

## Cleaning Part is over

## Now check for outliers

In [30]:
df.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [31]:
df=df[df['Price']<5000000].reset_index(drop=True)

In [32]:
df_cleaned=df.copy()

In [33]:
df.to_csv('Cleaned Car data.csv')

In [34]:
df

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

# Now our data is cleaned

# Model Building

In [35]:
X=df.drop(columns='Price')
y=df['Price']

In [36]:
X,y

(                       name   company  year  kms_driven fuel_type
 0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
 1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
 2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
 3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
 4                 Ford Figo      Ford  2012       41000    Diesel
 ..                      ...       ...   ...         ...       ...
 810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
 811          Tata Indica V2      Tata  2009       30000    Diesel
 812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
 813            Tata Zest XM      Tata  2018       27000    Diesel
 814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

 [815 rows x 5 columns],
 0       80000
 1      425000
 2      325000
 3      575000
 4      175000
         ...
 810    270000
 811    110000
 812    300000
 813    260000
 814    390000
 Name: Price, Length: 815, dtype: int32)

In [83]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=507)

In [84]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from feature_engine.encoding import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor

In [85]:
pipeline_lr=Pipeline([
                     ('onehot', OneHotEncoder( top_categories=90, variables=['name', 'company', 'fuel_type'], drop_last=False)),
                    #('scalar1',StandardScaler()), 
                     ('lr',LinearRegression())
                    ])
model = pipeline_lr.fit(X_train, y_train)
model.score(X_test,y_test)

0.8686958049896136

score=[]
for i in range(1000):
    from sklearn.model_selection import train_test_split
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=i)
    model = pipeline_lr.fit(X_train, y_train)
    score.append(model.score(X_test,y_test))

np.argmax(score)

score[np.argmax(score)]

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=np.argmax(score))
model = pipeline_lr.fit(X_train, y_train)
model.score(X_test,y_test)

In [86]:
pipeline_lr=Pipeline([('onehot1', OneHotEncoder( top_categories=90, variables=['name', 'company', 'fuel_type'], drop_last=False)),
                      ('scalar1',StandardScaler()),
                     ('lr_classifier',LinearRegression())])
pipeline_lasso=Pipeline([('onehot2', OneHotEncoder( top_categories=90, variables=['name', 'company', 'fuel_type'], drop_last=False)),
                        ('scalar2',StandardScaler()),
                     ('lasso',Lasso())])
pipeline_ridge=Pipeline([('onehot4', OneHotEncoder( top_categories=90, variables=['name', 'company', 'fuel_type'], drop_last=False)),
                    ('scalar4',StandardScaler()),
                     ('ridge',Ridge())])
pipeline_sgd=Pipeline([ ('onehot7', OneHotEncoder( top_categories=90, variables=['name', 'company', 'fuel_type'], drop_last=False)),
                    ('scalar7',StandardScaler()),
                     ('sgd',SGDRegressor())])
pipeline_rf=Pipeline([ ('onehot3', OneHotEncoder( top_categories=90, variables=['name', 'company', 'fuel_type'], drop_last=False)),
                    ('scalar3',StandardScaler()),
                     ('sgd',RandomForestRegressor())])

In [87]:
pipelines = [pipeline_lr, pipeline_lasso, pipeline_ridge,pipeline_sgd,pipeline_rf]
pipe_dict = {0: 'Linear Regression', 1: 'Lasso', 2:'Ridge',
             3: 'SGD',4:'Random Forrest'
            }

In [88]:
for pipe in pipelines:
    pipe.fit(X_train, y_train)
for i,model in enumerate(pipelines):
    print("{} Test Accuracy:{}".format(pipe_dict[i],model.score(X_test,y_test)))

C:\Users\Madhu Babu\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:531: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 289869998942.4492, tolerance: 8444669444.70181
  positive)

Linear Regression Test Accuracy:0.8686964339072377
Lasso Test Accuracy:0.8686992106829385
Ridge Test Accuracy:0.8689098268339344
SGD Test Accuracy:0.8682021710415995
Random Forrest Test Accuracy:0.7274510952563824

In [58]:
pipeline_lr=Pipeline([
                     ('onehot', OneHotEncoder( top_categories=90, variables=['name', 'company', 'fuel_type'], drop_last=False)),
                    #('scalar1',StandardScaler()), 
                     ('lr',LinearRegression())
                    ])
model = pipeline_lr.fit(X_train, y_train)
model.score(X_test,y_test)

0.8686958049896136

In [61]:
import pickle

In [62]:
pickle.dump(model,open('LinearRegressionModel.pkl','wb'))

In [89]:
model.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2017,70000,'Petrol']],columns=['name', 'company', 'year', 'kms_driven', 'fuel_type']))

array([346381.1])